body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px;
    font-size: 18px;
}

.logo {
    position: fixed;
    top: 16px;
    left: 16px;
    width: 70px;
}

.project-image {
    width: 300px;
    margin: 15px 0;
}

.flag-icon {
    width: 50px;
    display: block;
    margin: 0 auto 20px auto;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    font-family: Georgia, serif;
    text-align: center;
    color: lightgray;
}

h2 {
    color: lightgray;
    margin-top: 30px;
    font-size: 28px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 700;
}

h3 {
    color: lightgray;
    margin-top: 20px;
    font-size: 20px;
}

section {
    color: lightgray;
    margin-bottom: 40px;
}

hr {
    border: none;
    border-top: 1px solid white;
    width: 100%;
    margin: 10px 0 20px 0;
}

p, ul, ol {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 20px;
}

li {
    margin-bottom: 15px;
}

footer {
    margin-top: 40px;
    text-align: center;
}