body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px;
    font-size: 18px;
}

.logo {
    position: fixed;
    top: 16px;
    left: 16px;
    width: 70px;
}

.project-images {
    padding: 0;
    list-style: none;
    margin: 15px 0;
}

.project-images li {
    display: inline-block;
    width: 30%;
    margin-right: 10px;
}

.project-image {
    width: 100%;
    margin: 0;
}

.coding-icon {
    width: 200px;
    display: block;
    margin: 0 auto 20px auto;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

nav {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Archivo Black', Arial, sans-serif;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
    color: lightgray;
}

nav a:hover {
    text-decoration-style: wavy;
}

h1 {
    font-family: 'Archivo Black', Arial, sans-serif;
    text-align: center;
    color: lightgray;
}

h2 {
    color: lightgray;
    margin-top: 30px;
    font-size: 28px;
    font-family: 'Archivo Black', Arial, sans-serif;
    letter-spacing: 1px;
}

h3 {
    color: lightgray;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Archivo Black', Arial, sans-serif;
}

section {
    color: lightgray;
    margin-bottom: 40px;
}

hr {
    border: none;
    border-top: 1px solid white;
    width: 100%;
    margin: 10px 0 20px 0;
}

p, ul, ol {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 20px;
}

li {
    margin-bottom: 15px;
}


strong {
    font-family: 'Archivo Black', Arial, sans-serif;
}

footer {
    margin-top: 40px;
    text-align: center;
}